<div
    id="active-users"
    draggable="true"
    
    hx-post="/frag/active-users"
    hx-trigger="load, every 5s [document.hidden === false]"

    hx-target="#badge"
    hx-swap="outerHTML"
    >

    <span id="badge">🌎 Getting user count...</span>

    <style>
        #active-users {
            cursor: grab;
            padding: 5px;
            border: 2px dashed rgb(0,255, 0);
            container-type: inline-size;
            font-size: 7.5cqi;
            min-width: 85cqi;
            z-index: 999;
        }
    </style>

    <script>
        let offsetX, offsetY;
        const element = document.getElementById('active-users');

        document.body.addEventListener("dragover", (event) =>
        {
            event.preventDefault();
        });

        document.body.addEventListener("dragenter", (event) =>
        {
            event.preventDefault();
        });

        element.addEventListener('dragstart', (event) =>
        {
            offsetX = event.clientX - element.getBoundingClientRect().left;
            offsetY = event.clientY - element.getBoundingClientRect().top;

            event.target.style.left = `${event.clientX - offsetX}px`;
            event.target.style.top = `${event.clientY - offsetY}px`;
            event.target.style.position = "absolute";
            event.target.style.opacity = '0.4';

            event.target.style.cursor = 'grab';

            return false;
        });

        element.addEventListener('dragend', (event) =>
        {
            event.target.style.cursor = 'grab';
            event.target.style.opacity = '1.0';

            event.target.style.left = `${event.clientX - offsetX}px`;
            event.target.style.top = `${event.clientY - offsetY}px`;
        });

        element.addEventListener('dblclick', (event) =>
        {
            element.style.position = "";
            element.style.left = "";
            element.style.top = "";
            element.style.marginTop = "10px";
        });
    </script>

</div>