/* .content refers to page content (to the right of the navigation bar) */

body {
  background-image: url("background.jpg");
  color: white;
  margin: 0px;
  overflow: hidden;
}

.flex-horiz
{
	display: flex;
	flex-direction: row;
}

.flex-vert
{
	display: flex;
	flex-direction: column;
}

.flex-justify-center
{
	justify-content: center;
}

.flex-align-center
{
	align-items: center;
}

.fill-width
{
	width: stretch;
}

.fill-height
{
	height: stretch;
}

.content {
	flex: 1;
	max-height: 100vh;
	max-width: 100vw;
	overflow: auto;
	container-type: inline-size;
}

#introduction {
	font-size: 1cqi;
}

.news-item {
	color: burlywood;
	background-color: black;
	border: 2px solid white;
	border-image: linear-gradient(190deg, rgba(0, 65, 115, 0.5), rgba(196, 177, 0, 0.5)) 1;
	padding: 5px 10px;
}

.news-item-date {
	font-family: '3dthirteen';
	font-size: 3cqi;
}

.news-item-content {
	font-size: 1cqi;
}

#software {
  float:left;
  margin-left:30px;
}

#fullsoftwaretable td {
  padding:3px;
  text-align:center;
}

