<div class="content flex-vert flex-align-center" align="center">

    <div class="fill-width">
        <h1>About</h1>
        <hr />
    </div>

    <p align="center">
        I was inspired to start this side-project by the YouTuber <a target="_blank" style="color:lightgreen" href="https://www.youtube.com/@@onionboots">onionboots</a>.<br />
        His "web revival" video, dated 2/19/2026, was pretty illuminating. It reminded me of an internet that I vaguely knew when I was younger and not so social-media addicted.<br />
        <br />
        Being a bit of a computer nerd, I figured it prudent to fill my free-time with the development of my own website in the "indie web" style onionboots so convincingly sold.<br />
        <br />
        I'm not all that artsy and creative, so this may look a bit drab for a while. However, if my hazy visions come true, this website will one day be pretty cool.<br />
        <br />
        If you're reading this, please take care, and be sure to pay me a visit every so often! :)<br />
        - Konym
    </p>

    <div id="aboutspecifications">
        <h3 align="center">Page Specifications</h3>
        <p>
            Project begin: February 2026<br />
            Latest page update: 02-23-2026 ~11 PM<br />
            What I'm working on: General website layout and content updates<br />
        </p>
    </div>
</div>