<!-- saved from url=(0064)https://poesisincarnatus.neocities.org/i%20made%20this/imadethis -->
<!-- ^ just kidding, I totally made this (lol) -->
<div id="imadethis" class="content">
	<script>
		var offset = 0;
		var content = document.getElementById("imadethis");
		content.style.backgroundColor = 'white';

		function appendImage() {
			var image = document.createElement("img");
			image.src = "/images/imadethis.png";
			image.alt = "I made this";
			image.style.display = "block";
			image.style.marginLeft = offset + "px";
			offset += 536;
			content.appendChild(image);
			content.scrollLeft = content.scrollWidth;
		}

		appendImage();

		content.onscroll = (e) =>
		{
			if (content.scrollHeight - (content.scrollTop + content.clientHeight) < 50)
			{
				appendImage();
			}
		};
	</script>

</div>