<div class="content flex-vert flex-align-center" align="center">

    <div class="fill-width">
        <h1>Home</h1>
        <hr />
    </div>

    <div id="introduction">
        <h3>Hello, my name is Konym.</h3>
        <p>
            I'll write a proper introduction when my brain isn't fried 😵‍💫<br />
        </p>
    </div>

    <div class="flex-horiz flex-justify-center" style="flex-wrap: wrap; padding: 25px; gap: 10px;">

        <div class="news-item">
            <h2 align="center">02-24-2026</h2>
            <p align="left">
                • Reworked UI to use flex boxes behind the scenes.<br />
                • Active User badge is now implemented!<br />
            </p>
        </div>

        <div class="news-item">
            <h2 align="center">02-23-2026</h2>
            <p align="left">
                • Brought 14 y/o me's website into modern times.<br />
                • Updated website to run on ASP.NET/Blazor.<br />
                • Updated About page to reflect current motivations.<br />
                • Changed logo to match my classic TARDIS favicon (temporarily).<br />
                • Google Earth shortcut because why not: <a target="_blank" href="https://earth.google.com/web/@@37.23767918,-94.5159901,701.21142548a,22281905.34762383d,35y,15.03696165h,1.7282735t,360r/data=CgRCAggBOgMKATBCAggASg0I____________ARAA?authuser=0">🌎</a>.<br />
            </p>
        </div>

        <div class="news-item">
            <h2 align="center">01-23-2017</h2>
            <p align="left">
                • First documented change.<br />
                • Added noticeable line to the bottom of page labels.<br />
                • Added "Page Specifications" to About page.<br />
                • Added "Extra Information" column to software table on Downloads page.<br />
            </p>
        </div>
    </div>

    <div class="flex-horiz flex-justify-center">
        <a target="_blank" style="width: 88px; height: 31px" href="https://avery501.neocities.org/" title="Teleport to Avery's nook">
            <img style="width: inherit; height: inherit" src="https://neocities.org/site_thumbnails/25/50/avery501/Avery%E2%80%99s%20Nook.gif.210x158.webp">
        </a>

        <a target="_blank" style="width: 88px; height: 31px" href="https://onio.neocities.org" title="Visit Onio Café">
            <img style="width: inherit; height: inherit" src="https://onio.neocities.org/thebutton.gif" alt="Come Chat With Us!">
        </a>
    </div>
</div>