<div class="content flex-vert flex-align-center" align="center">

    <div class="fill-width">
        <span style="font-family: '3dthirteen'; font-size: 5cqi;">Home</span>
        <hr />
    </div>

    <div id="introduction">
        <h3>Hello, my name is Konym.</h3>
        <p>
            Are you the kind of person that others immediately call upon to sort out technical issues? If so, I think we'll get along :)<br />
            <br />
            I am currently approaching my mid-20s and am lucky to say that, so far, I've acquired a good job, some cool friends, and a few fun toys. Isn't that about all you can ask for?<br />
            (I'm only partially joking)<br />
            <br />
            My hobbies include coding, riding my motorcycle, gaming, and hanging out with my friends both online and <b><i>in the real world</i></b> :o<br />
            <br />
            You (yes, you) will likely find me hanging out/lurking in certain chatrooms across the internet, such as the one over at <a target ="_blank" style="color:lightgreen" href="https://onio.club">onio.club</a>.<br />
            If not, I'm probably either at work, sleeping, watching YouTube, or working on this site.<br />
            <br />
            I hope to see you around, and thanks for visiting me!
            <br />
        </p>
    </div>

    <div class="flex-horiz flex-justify-center">
        <a target="_blank" style="width: 88px; height: 31px" href="https://avery501.neocities.org/" title="Teleport to Avery's nook">
            <img style="width: inherit; height: inherit" src="https://neocities.org/site_thumbnails/25/50/avery501/Avery%E2%80%99s%20Nook.gif.210x158.webp">
        </a>

        <a target="_blank" style="width: 88px; height: 31px" href="https://onio.neocities.org" title="Visit Onio Café">
            <img style="width: inherit; height: inherit" src="https://onio.neocities.org/thebutton.gif" alt="Come Chat With Us!">
        </a>
    </div>

    <div class="flex-vert flex-justify-center" style="flex-wrap: wrap; padding: 25px; gap: 10px;">

        <div class="news-item">
            <span class="news-item-date" align="center">03-23-2026</span>
            <p class="news-item-content" align="left">
                • The updates section on the Home page (literally this) is now arranged vertically. Will likely redesign in the future.<br />
                • The entire site now runs on HTMX! Goodbye, page refreshes!<br />
                • See <a hx-disable style="color:lightgreen" href="/zones/technology?date=03-23-2026">this</a> blog post for more details :)
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">03-14-2026</span>
            <p class="news-item-content" align="left">
                • Zones are laid out a bit better now and have been reworked on the backend to support directly accessing articles via a permanent link.<br />
                • See <a hx-disable style="color:lightgreen" href="/zones/technology?date=03-14-2026">this</a> blog post for more details :)
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">03-08-2026</span>
            <p class="news-item-content" align="left">
                • Technology Zone is now functional! (but very basic)<br />
                • It uses htmx to request HTML fragments much like a single-page web app, except this one doesn't eat up all your RAM.<br />
                • Design is likely to change <b>quite a bit</b> in future updates. The current design is mainly a proof-of-concept.<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">03-01-2026</span>
            <p class="news-item-content" align="left">
                • Added background images to buttons on Zones page.<br />
                • Technology Zone has an interim layout that I'm not final on. I feel like I'm leaning into the blue/yellow theme too heavily.<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">02-28-2026</span>
            <p class="news-item-content" align="left">
                • Added Zones page and removed Download page.<br />
                • Zones page has a nice glowing expanding button sort of design that I think looks rather nice.<br />
                • It's currently broken up into 3 sections: Tech, Life, and Cars & Bikes. The removed Download page will likely make a return as an integration into the Technology zone.<br />
                • Home page now has an actual introduction. My brain is finally un-fried.<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">02-27-2026</span>
            <p class="news-item-content" align="left">
                • Nothing much besides messing around with the site button in the navbar.<br />
                • Font sizing in the Active User badge now scales with viewport size (this made me want to die).<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">02-26-2026</span>
            <p class="news-item-content" align="left">
                • Updated font sizes throughout the site to respond to container width using inline-size and cqi units. This should make the UI <b>much</b> more responsive across different viewport sizes.<br />
                • More linear-gradient's because they're pretty.<br />
                • Expanded use of the 3dthirteen pixel font because I think it looks cool<br />
                • Links page link added, but will currently resolve to a new "Nothing yet!" page.<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">02-25-2026</span>
            <p class="news-item-content" align="left">
                • More UI updates and styling. Added "I Made This" joke page (lol).<br />
                • Replaced TARDIS image with my Discord pfp.<br />
                • Active User count should now be more honest.<br />
                • Active User badge is in a better place by default and returns to its docked location on a double-click.<br />
                • My page now has a button! (and a clipboard button that auto-copies the embed html)<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">02-24-2026</span>
            <p class="news-item-content" align="left">
                • Reworked UI to use flex boxes behind the scenes.<br />
                • Active User badge is now implemented!<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">02-23-2026</span>
            <p class="news-item-content" align="left">
                • Brought 14 y/o me's website into modern times.<br />
                • Updated website to run on ASP.NET/Blazor.<br />
                • Updated About page to reflect current motivations.<br />
                • Changed logo to match my classic TARDIS favicon (temporarily).<br />
                • Google Earth shortcut because why not: <a target="_blank" href="https://earth.google.com/web/@@37.23767918,-94.5159901,701.21142548a,22281905.34762383d,35y,15.03696165h,1.7282735t,360r/data=CgRCAggBOgMKATBCAggASg0I____________ARAA?authuser=0">🌎</a>.<br />
            </p>
        </div>

        <div class="news-item">
            <span class="news-item-date" align="center">01-23-2017</span>
            <p class="news-item-content" align="left">
                • First documented change.<br />
                • Added noticeable line to the bottom of page labels.<br />
                • Added "Page Specifications" to About page.<br />
                • Added "Extra Information" column to software table on Downloads page.<br />
            </p>
        </div>
    </div>
</div>