<div class="content flex-vert flex-align-center flex-justify-center">

    <script type="text/javascript">
        window.RufflePlayer = window.RufflePlayer || {};
        window.RufflePlayer.config = {
            "autoplay": "on",
            "wmode": "transparent",
            "unmuteOverlay": "hidden",
            "forceScale": true,
            "forceAlign": true,
            "scale": "showAll"
        };
    </script>

    <script src="https://unpkg.com/@@ruffle-rs/ruffle"></script>
    <embed style="width: 80vw; height: 90vh;" src="swf/Shadez2_AllMissionsUnlocked.swf"/>
</div>