@using konym.live.Components

<!DOCTYPE HTML>

<html>
<head>
    <meta charset="UTF-8" />
    <title>konym.live</title>
    <link rel="stylesheet" type="text/css" href="/style/body.css" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!--Prevent blinding FUOC (Flash-of-unstyled-content)-->
    <style>
        html {
            background-color: black;
        }

        @@font-face {
            font-family: '3dthirteen';
            src: url('fonts/3D-Thirteen-Pixel-Fonts.ttf') format('truetype');
        }
    </style>
</head>

<body>
    <div class="flex-horiz">
        <div class="content flex-vert flex-align-center flex-justify-center" align="center">

            <div class="fill-width flex-vert" style="gap: 40px;">
                <p style="font-family: '3dthirteen'; font-size:10cqi; margin: 0px;">Closed!</p>
                <span>Opening again sometime in the morning, PST. :)</span>
            </div>
        </div>
    </div>
</body>
</html>

