<div class="content flex-vert flex-align-center" align="center">

    <div class="fill-width">
        <span style="font-family: '3dthirteen'; font-size: 5cqi;">Download</span>
        <hr />
    </div>

    <p>This is the download page for projects and project files created/used by this webpage's developer.</p>
    <p>All software released on this page will be free.</p>
    <br>
    <a class="myButton" href="images/CripplingDepression.jpg" download>Download Test Image</a>
    <br>

    <div id="software" align="left">
        <h3>Products</h3>
        <table id="fullsoftwaretable" border="1">
            <tr>
                <td>
                    <b>Product Name</b>
                </td>
                <td>
                    <b>Size</b>
                </td>
                <td>
                    <b>Download</b>
                </td>
                <td>
                    <b>Extra Information</b>
                </td>
            </tr>
            <tr>
                <td>
                    <p>ComOS :: Build 5 Alpha 1</p>
                </td>
                <td>
                    <p>1MB</p>
                </td>
                <td>
                    <a class="myButton" href="productfiles/ComOS.zip" download>Download</a>
                </td>
                <td>
                    <p>
                        Programmed in Batch - will only work on Windows.<br />
                        Also, I wrote this ages ago. Please don't mind that it doesn't really serve a practical purpose 😆<br />
                    </p>
                </td>
            </tr>
        </table>
    </div>
</div>

<style>
    .myButton {
        /* Box Model & Layout */
        display: inline-block; /* Allows padding/margin/width on a tags */
        padding: 5px 15px; /* Space around the text */
        margin: 5px; /* Space between buttons */
  
        /* Appearance */
        background-color: cadetblue; /* Blue background */
        color: #fff; /* White text color */
        border: none; /* Remove default border */
        border-radius: 5px; /* Rounded corners */
        cursor: pointer; /* Change mouse cursor to a hand */
        text-align: center; /* Center the text */
        text-decoration: none; /* Remove underline for a tags */
  
        /* Typography */
        font-size: 16px; /* Text size */
        font-family: sans-serif;
    }
</style>